# Collection-Based Loop

In [1]:
for item in ['Game', 'Cycling', 'Coding', 'Football', 'Volleyball', 'Judo']:
    print(item)

Game
Cycling
Coding
Football
Volleyball
Judo

In [2]:
numbers = [1, 2, 3, 4, 5, 6]
for item in numbers:
    if item % 2 == 0:
        print(item, 'is even')
    else:
        print(item, 'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

## range

In [17]:
range_7 = range(7)
range_7

range(0, 7)

In [20]:
for i in range(7):
    if i % 2 == 0:
        print(i, 'is even')
    else:
        print(i, 'is odd')

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

In [21]:
list(range_7)

[0, 1, 2, 3, 4, 5, 6]

### TypeError: 'int' object is not iterable

In [3]:
for item in 123:
    print(item)

TypeError: 'int' object is not iterable

## Pass Statement

In [4]:
for item in numbers:
    if item % 2 == 0:
        pass
    else:
        print(item, 'is odd')

1 is odd
3 is odd
5 is odd

## Break Statement

In [6]:
for item in numbers:
    if item == 4:
        break
    else:
        print(item)

1
2
3