In [7]:

def names_list(names=[]):
    print(id(names))
    names.append('last name')
    print(names)

# everything is good!
names_list(['Mahdi', 'Amir', 'Ali'])
names_list(['Fatemeh', 'Mona', 'Nahid'])

# but ...
# names_list()
# names_list()
# names_list()

1429400423040
['Mahdi', 'Amir', 'Ali', 'last name']
1429400425344
['Fatemeh', 'Mona', 'Nahid', 'last name']

# Function

In [8]:
def say_hello():
    print('Hello !!!')

In [9]:
say_hello()

Hello !!!

In [11]:
def say_goodbye():
    print('Goodbye ...')

In [12]:
say_goodbye()

Goodbye ...

## Positional arguments or Required arguments

In [13]:
def f(x):
    print(x)

In [14]:
f(15)

15

In [15]:
def car_price(car_name, price):
    print(car_name, 'cost', price)

In [16]:
car_price('Pride', 0)

Pride cost 0

In [18]:
# Arguments order
car_price(1000, 'Cerato')

1000 cost Cerato

In [19]:
# TypeError: missing 1 "required positional argument"
car_price('Cerato')

TypeError: car_price() missing 1 required positional argument: 'price'

In [20]:
# TypeError: takes 2 "positional arguments" but 3 were given
car_price('Cerato', 1000, 'HA HA HA')

TypeError: car_price() takes 2 positional arguments but 3 were given

## Keyword arguments
lifts the restriction on argument order but  the number of arguments and parameters must still match

In [27]:
def full_name(first_name, last_name, age):
    print('Your First Name: ', first_name)
    print('Your Last Name: ', last_name)
    print('Your Age: ', age)

In [28]:
full_name(last_name='Zarepour', first_name='Mahdi', age=22)

Your First Name:  Mahdi
Your Last Name:  Zarepour
Your Age:  22

In [29]:
full_name(last_name='Zarepour', first_name='Mahdi', 22)

SyntaxError: positional argument follows keyword argument (3951455480.py, line 1)

## default parameters

In [30]:
def power(x, p=2):
    print(x ** p)

In [31]:
power(2, 5)

32

In [32]:
power(2)

4

In [33]:
def addition(a=1, b): # SyntaxError: parameter without a default follows parameter with a default
    print(a + b)

SyntaxError: parameter without a default follows parameter with a default (3341060260.py, line 1)